/* #region debug */

.debug header {
    background-color: lightslategray;
}

/* #endregion debug */

/* #region main */

.line {
    width: 100px;
    height: 3px;
    border-radius: 20px;
}

#portfolio img {
    border-radius: 15px;
}

#btn_form{
    transition: .6s;
}

#btn_form:hover{
    background-color: black;
    border-radius: 50%;
}

/* #region footer */


/* #region media querries */


@media (min-width: 576px) {}

@media (min-width: 768px) {
    .container-md {
        width: 80%;
    }
}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}

@media (min-width: 1400px) {}

/* #region colors */

.ln_succes_text {
    color: #1bbc9d;
}

.ln_succes {
    background-color: #1bbc9d;
}

.ln_soft_dark {
    background-color: #3b556d;
}

.ln_dark {
    background-color: #2d3f50;
}